<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:X-Content-Type-Options="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <title>Вход</title>
</head>
<body>

    <header th:replace="fragments/navbar :: navbar"></header>

    <div class="enterContainer">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10 col-sm-11 bg-light py-5 px-5 rounded-5 mb-4">
                    <h5 class="text-center text-uppercase fs-3 fw-bold mb-4">войти в аккаунт</h5>

                    <form method="post">
                        <h3 th:if="${errorMessage != null}" th:text="${errorMessage}" class="text-center p-1 d-flex align-items-center justify-content-center mt-3 w-100 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2">
                        </h3>

                        <input type="email" class="rounded-3 bg-light-subtle mb-2 p-2 d-block mx-auto fw-bold" name="email" th:value="${email}" placeholder="Почта" required>
                        <input type="text" class="rounded-3 bg-light-subtle mb-2 p-2 d-block mx-auto fw-bold" name="login" placeholder="Логин" th:value="${login}" required>
                        <input type="password" class="rounded-3 bg-light-subtle mb-2 p-2 border-none d-block mx-auto fw-bold" name="password" placeholder="Пароль" required>
                        <input type="password" class="rounded-3 bg-light-subtle mb-2 p-2 border-none d-block mx-auto fw-bold" name="confirmPassword" placeholder="Повторите пароль" required>
                        <input type="tel" class="rounded-3 bg-light-subtle mb-4 p-2 d-block mx-auto fw-bold" name="phoneNumber" placeholder="Номер" th:value="${phoneNumber}" required>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="btn btn-ped d-block mx-auto w-auto h-auto px-5 py-2 text-light fs-3 fw-bold rounded-3 mb-3">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

</body>
</html>