
    <div th:fragment="navbar">
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="/searchVacancies" style="width:137px; height: 75px;">
                    <img th:src="@{/img/vacancy_logo.png}" alt="logo" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active text-light fs-6 d-flex align-items-center my-auto me-4" href="#">
                                <img th:src="@{/img/search.png}" alt="search" class="me-2" style="width: 30px; height: 30px;"> <span>Найти вакансию</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light fs-6 d-flex align-items-center my-auto" href="#">
                                <span>Личный кабинет</span> <img th:src="@{/img/profile.png}" alt="profile" class="ms-2" style="width: 35px; height: 35px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
